<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 

<mapper namespace="com.oe.mapper.MarketBoardMapper">

<!--============================================================================================================ -->
	
	<sql id="criteria">
		<trim suffix=") and" prefix="(">
			<foreach collection="typeArr" item="type" separator="or">
				<if test="type=='T'.toString()">
					bo_title like '%' || #{keyword} || '%'
				</if>
				<if test="type=='C'.toString()">
					bo_content like '%' || #{keyword} || '%'
				</if>
				<if test="type=='W'.toString()">
					bo_nickname like '%' || #{keyword} || '%'
				</if>
				<if test="type=='G'.toString()">
					bo_category like '%' || #{keyword} || '%'
				</if>
			</foreach>
		</trim>
	</sql>

<!--============================================================================================================ -->

    <select id="getListBoard" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by BO_HEARTCOUNT desc -->
      
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by BO_HEARTCOUNT desc)
            where 
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
 
    <select id="getList_regdate" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where 
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>

    <select id="getList_lowPrice" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_price  -->
             
         <![CDATA[     
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_price)
            where 
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>

    <select id="getList_highPrice" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_price desc --> 
         <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_price desc)
            where 
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>

<!-- List부분 끝======================================================================================================================================== -->
	
     <insert id="crawlinginsert">
        insert into marketboard(bo_num, bo_id, bo_title, bo_nickname, bo_price, bo_content, bo_image ,bo_count, bo_heart, bo_heartcount, bo_category, bo_address1,bo_address2,bo_regdate)
        values((select nvl(max(bo_num), 0)+1 from marketboard), #{bo_id, jdbcType=VARCHAR}, #{bo_title, jdbcType=VARCHAR}, #{bo_nickname, jdbcType=VARCHAR}, #{bo_price, jdbcType=VARCHAR}, #{bo_content, jdbcType=VARCHAR}, #{bo_image, jdbcType=VARCHAR}, #{bo_count, jdbcType=VARCHAR}, #{bo_heart, jdbcType=VARCHAR}, #{bo_heartcount, jdbcType=VARCHAR}, #{bo_category, jdbcType=VARCHAR}, #{bo_address1, jdbcType=VARCHAR}, #{bo_address2, jdbcType=VARCHAR},#{bo_regdate, jdbcType=VARCHAR})
    </insert>

     <insert id="insert">
        insert into marketboard(bo_num, bo_id, bo_title, bo_nickname, bo_price, bo_content, bo_image ,bo_count, bo_heart, bo_heartcount, bo_category, bo_address1,bo_address2)
        values((select nvl(max(bo_num), 0)+1 from marketboard), #{bo_id, jdbcType=VARCHAR}, #{bo_title, jdbcType=VARCHAR}, #{bo_nickname, jdbcType=VARCHAR}, #{bo_price, jdbcType=VARCHAR}, #{bo_content, jdbcType=VARCHAR}, #{bo_image, jdbcType=VARCHAR}, #{bo_count, jdbcType=VARCHAR}, #{bo_heart, jdbcType=VARCHAR}, #{bo_heartcount, jdbcType=VARCHAR}, #{bo_category, jdbcType=VARCHAR}, #{bo_address1, jdbcType=VARCHAR}, #{bo_address2, jdbcType=VARCHAR})
    </insert>

   <insert id="insertFile">
      <selectKey keyProperty="bo_num" order="BEFORE" resultType="long">
         select max(bo_num) from marketboard
        </selectKey>
      insert into fileUpload(file_num, bo_num, file_original, file_size, file_category)
        values((select nvl(max(file_num), 0)+1 from fileUpload),#{bo_num, jdbcType=VARCHAR}, #{file_original, jdbcType=VARCHAR}, #{file_size, jdbcType=VARCHAR}, #{file_category, jdbcType=VARCHAR})
   </insert>

   <delete id="crawlingRemove">
        delete marketboard where bo_category is null
     </delete>
   
   <select id="getBoardDetail" resultType="com.oe.domain.MarketBoardVO">
      select * from marketboard where bo_num = #{bo_num, jdbcType=VARCHAR}
   </select>

   <select id="getBoardFile" resultType="com.oe.domain.FileUploadVO">
      select * from fileupload where bo_num = #{bo_num, jdbcType=VARCHAR}
   </select>
   
   <update id="updateBoard">
      update marketboard set bo_title=#{bo_title},
      bo_price=#{bo_price}, bo_content=#{bo_content}, bo_category=#{bo_category}
      where
      bo_num=#{bo_num}
      <!-- updatedate=sysdate -->
   </update>
   
   <delete id="removeBoard">
      delete marketboard where bo_num=#{bo_num}
   </delete>
   
   <!-- 페이징처리&검색============================================================================================================ -->
	

	<select id="getListWithPagging"
		resultType="com.oe.domain.MarketBoardVO">
   		<![CDATA[
      select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2
         from (
            select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2
            from marketboard
            where 
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
	</select>


	<!-- ========================================================= -->

	<select id="getTotalCount" resultType="int">
		select count(*) from
		marketboard where

		<include refid="criteria"></include>

		bo_num > 0
	</select>


	<!-- 검색조건 -->
	<select id="searchTest" resultType="com.oe.domain.MarketBoardVO">
		
		<![CDATA[
		select * from marketboard
		where
		]]>

		<trim prefix="(" suffix=") and">
			<foreach collection="map" index="key" item="val"
				separator="or">
				<if test="key == 'T'.toString()">
					bo_title like #{val}
				</if>
				<if test="key == 'C'.toString()">
					bo_content like #{val}
				</if>
				<if test="key == 'W'.toString()">
					bo_nickname like #{val}
				</if>
				<if test="key == 'G'.toString()">
					bo_category like #{val}
				</if>
			</foreach>
		</trim>
		
		<![CDATA[
		rownum < 10
		]]>

	</select>


   <!-- 페이징처리&검색============================================================================================================ -->
   
   <!-- 0815 카테고리 정렬 ============================================================================================================ -->
    
    <select id="getList_book" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='도서/티켓/문구' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_music" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='음반/악기' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_art" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='예술/수집품' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_woman" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='여성의류' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_man" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='남성의류' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_shoes" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='신발' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_bag" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='가방' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_watch" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='시계' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_jewelry" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='쥬얼리' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_funiture" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='가구/인테리어' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_car" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='차량/오토바이' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_kidult" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='키덜트' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_food" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='생활용품' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_pet" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='반려동물용품' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
    
    <select id="getList_etc" resultType="com.oe.domain.MarketBoardVO">
        <!-- select * from marketboard order by bo_regdate desc -->
      
      <![CDATA[
			select bo_num, bo_count, bo_heart, bo_heartcount, bo_price, bo_id, bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from ( select /*+ index_desc(tbl_board pk_board) */
            rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from (select rownum rn, bo_num, bo_count,bo_heart, bo_heartcount,bo_price, bo_id,bo_title,bo_nickname,bo_image,bo_content,bo_category,bo_address1,bo_address2,bo_regdate
            from marketboard order by bo_regdate desc)
            where bo_category='기타' and
    	]]>

		<include refid="criteria"></include>
    
    	<![CDATA[
         ROWNUM <= #{pageNum} * #{amount} )
         where 
         rn > (#{pageNum}-1) * #{amount}
    	]]>
    </select>
   
   
   
        
        
   
   
   
   
</mapper>