<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oe.mapper.NoticeMapper">
	<select id="getListFaqTop5" resultType="com.oe.domain.NoticeVO">
		SELECT *
		FROM (
			SELECT *
			FROM NOTICE
			WHERE NO_CATEGORY = 'FAQ'
			ORDER BY NO_READCOUNT DESC
		)
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	<select id="getRecentNotice" resultType="com.oe.domain.NoticeVO">
		SELECT *
		FROM (
			SELECT *
			FROM NOTICE
			WHERE NO_CATEGORY = 'NOTICE'
			ORDER BY NO_DATE DESC
		)
		WHERE ROWNUM = 1
	</select>
	<select id="us_gradeChk" resultType="int">
		SELECT US_GRADE
		FROM MARKETUSER
		WHERE US_ID = #{us_id, jdbcType=VARCHAR}
	</select>
	<!-- <select id="getListFaqWithPaging" resultType="com.oe.domain.NoticeVO">
		<![CDATA[
			SELECT	NO_NUM, NO_ID, NO_NICKNAME, NO_TITLE, NO_CONTENT,
					NO_CATEGORY, NO_READCOUNT, NO_DATE, NO_DELDATE, NO_DEL
			FROM (
				SELECT	ROW_NUMBER() OVER (ORDER BY NO_DATE DESC) RN,
						NO_NUM, NO_ID, NO_NICKNAME, NO_TITLE, NO_CONTENT,
						NO_CATEGORY, NO_READCOUNT, NO_DATE, NO_DELDATE, NO_DEL
				FROM NOTICE
				WHERE NO_CATEGORY = 'FAQ'
				AND (NO_TITLE LIKE'%' ||  #{keyword} || '%' OR NO_CONTENT LIKE '%' ||  #{keyword} || '%')
				ORDER BY NO_DATE DESC
			)
			WHERE RN BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND #{pageNum} * #{amount}
		]]>
	</select>
	<select id="getCountFAQ" resultType="int">
			SELECT COUNT(*)
			FROM NOTICE
			WHERE NO_CATEGORY = 'FAQ'
			AND (NO_TITLE LIKE '%' ||  #{keyword} || '%' OR NO_CONTENT LIKE '%' ||  #{keyword} || '%')
	</select> -->
</mapper>